<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="CarDatabaseEntities" connectionString="metadata=res://*/Models.CarModel.csdl|res://*/Models.CarModel.ssdl|res://*/Models.CarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\PC-140-4\source\repos\Car\CarDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="Car.Properties.Settings.CarDatabaseConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\PC-140-4\source\repos\Car\CarDatabase.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>